@model Event_Handling_webApplication.Models.tbevent
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order Summary</h2>
<br />
<br />
<h4>Order Number 215678</h4>
<h4>@Html.DisplayFor(model => model.title)</h4>
<h4>Number of tickets 5</h4>

